<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [1]:
# create a list of 10 student (use just first name)
students = ['Allen', 'Bob', 'Cathy', 'David', 'Emily', 'Frank', 'Gary', 'Hilary', 'Ivan', 'Janice']

In [2]:
# Print the list
print(students)

['Allen', 'Bob', 'Cathy', 'David', 'Emily', 'Frank', 'Gary', 'Hilary', 'Ivan', 'Janice']

In [5]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for i, name in enumerate(students,0):
    print(f"Index {i+1:02d}" , name)

Index 01 Allen
Index 02 Bob
Index 03 Cathy
Index 04 David
Index 05 Emily
Index 06 Frank
Index 07 Gary
Index 08 Hilary
Index 09 Ivan
Index 10 Janice

In [10]:
# print the list of students in reverse order one student in a line with its index
for i, name in enumerate(reversed(students),0):
    print(f"Index {i+1:02d}" , name)

Index 01 Janice
Index 02 Ivan
Index 03 Hilary
Index 04 Gary
Index 05 Frank
Index 06 Emily
Index 07 David
Index 08 Cathy
Index 09 Bob
Index 10 Allen

In [14]:
# print the student list in random order
# hint look up the function random.sample
import random
print(random.sample(students,k=10))

['Emily', 'Bob', 'David', 'Janice', 'Frank', 'Ivan', 'Gary', 'Allen', 'Hilary', 'Cathy']

In [16]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]

studentsAndMarks = dict(zip(marks, students))
print(f"Students and their marks: \n {studentsAndMarks}")

for key in sorted(studentsAndMarks.keys(), reverse=True):
    print("%s %s" % (key, studentsAndMarks[key]))

Students and their marks:
 {87: 'Allen', 45: 'Bob', 76: 'Cathy', 64: 'David', 66: 'Emily', 90: 'Frank', 55: 'Gary', 73: 'Hilary', 69: 'Ivan', 75: 'Janice'}
90 Frank
87 Allen
76 Cathy
75 Janice
73 Hilary
69 Ivan
66 Emily
64 David
55 Gary
45 Bob